.clj-kondo/
.lsp/
bin/
obj/
.wwwroot/lib/
*.sln

# User-specific files
*.user
*.suo
*.userosscache
*.userprefs

# VS Code
.vscode/
.vs

# MacOS
*.DS_Store

# Logs
*.log

# Secrets
appsettings.*.json
!appsettings.json   # wyjątek - zostaje tylko podstawowy

# Database files
*.db
*.db-shm
*.db-wal

#lab
lab9/wwwroot/upload/
