.clj-kondo/
.lsp/
bin/
obj/
.wwwroot/lib/
*.sln

# User-specific files
*.user
*.suo
*.userosscache
*.userprefs

# VS Code
.vscode/

# Logs
*.log

# Secrets
appsettings.*.json
!appsettings.json   # wyjątek - zostaje tylko podstawowy