@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="tableContainer"></div>

<h1>Przykład elementu &lt;canvas&gt;</h1>

<canvas id="canvas1" class="drawingCanvas" width="500" height="300">
    twoja przeglądarka nie obsługuje elementu &lt;canvas&gt;.
</canvas>

<canvas id="canvas2" class="drawingCanvas" width="300" height="200">
    Twoja przeglądarka nie obsługuje elementu &lt;canvas&gt;.
</canvas>

<div class="spacer">
    <p>Odstęp</p>
</div>
