body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#sekcja-full {
    height: 100vh;
    width: 100%;

    background-image: url('dog.jpg');
    background-repeat: repeat;         
    background-size: 300px auto;       
    background-position: top left;     

}