/* Podstawowe style */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

section {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 25px;
}

/* PSEUDOKLASY*/

/* Styl stosowany, gdy element (radio, checkbox, option) jest zaznaczony */
input[type="radio"]:checked + label {
    font-weight: bold;
    color: #007bff; /* Podświetla zaznaczoną etykietę */
    text-decoration: underline;
}


/* Styl stosowany do WSZYSTKICH elementów <p>, które nie mają klasy "special" */
section p:not(.special) {
    background-color: #e0f7fa; /* Jasnoniebieskie tło dla "zwykłych" akapitów */
    padding: 5px;
    border-left: 5px solid #00bcd4;
}

/* WYBRANE PSEUDOELEMENTY */


/* Stylizuje tekst, gdy użytkownik go zaznaczy myszą */
::selection {
    background: #ff00ff; /* kolor zaznaczenia */
    color: black;      /* kolor tekstu w zaznaczeniu */
    text-shadow: none; 
}

/* Stylizuje tekst wewnątrz atrybutu placeholder */
input::placeholder {
    color: #cc3300;           
    font-style: italic;      
    font-size: 0.9em;         
}